{% extends "base.html" %}

{% block announce %}
  <div class="cp-navbar">
    <a class="cp-navbar-brand" href="https://comp-physics.group">
      <img src="https://comp-physics.group/favicon.ico" width="30" height="30" alt="">
      Computational Physics @ GT
    </a>
    <nav class="cp-navbar-links">
      <a href="https://comp-physics.group">Home</a>
      <a href="https://comp-physics.group/team">Team</a>
      <a href="https://comp-physics.group/research">Research</a>
      <a href="https://comp-physics.group/papers">Papers</a>
      <a href="https://comp-physics.group/teaching">Teaching</a>
      <a href="https://comp-physics.group/software">MFC</a>
      <a href="https://comp-physics.group/group-docs/" class="cp-navbar-active">Docs</a>
    </nav>
  </div>
{% endblock %}
