{% extends "base.html" %}

{% block announce %}
  <div class="cp-navbar">
    <a class="cp-navbar-brand" href="https://comp-physics.group">
      <img src="https://comp-physics.group/favicon.ico" width="24" height="24" alt="">
      <b>Computational Physics @ GT</b>
    </a>
    <nav class="cp-navbar-links">
      <a href="https://comp-physics.group"><b>Home</b></a>
      <a href="https://comp-physics.group/team"><b>Team</b></a>
      <a href="https://comp-physics.group/papers"><b>Papers</b></a>
      <a href="https://comp-physics.group/teaching"><b>Teaching</b></a>
      <a href="https://comp-physics.group/software"><b>MFC</b></a>
      <a href="https://comp-physics.group/group-docs/" class="cp-navbar-active"><b>Docs</b></a>
    </nav>
  </div>
{% endblock %}
